<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We're #hullCSS, the student-run Computer Science Society at the University of Hull working to expand Computer Science beyond the course and have socials too">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <main>
      <div class="grid-container headercontain">
  <div class="container">
    <a href="{{ site.baseurl }}/"
      ><img class="hullcss-logo" src="/img/hcsslogonobg.png"
    /></a>

    <div class="rightblock">
      <a href="/" class="btn btn-success">Home</a>
      <a href="/about" class="btn btn-success">About</a>
      <a href="/blog" class="btn btn-success">Blog</a>
      <a href="/events" class="btn btn-success">Events</a>
      <a href="/contact" class="btn btn-success">Contact</a>
      <a
        href="https://hulluniunion.com/shop?aid=304"
        class="btn btn-success jointoday"
        >Join Today</a>
    </div>
  </div>
</div>
      {{ content }}
      <div class="grid-container footergrid">
<div class="container">

  <div class="grid-33 mobile-grid-100">
  <div class="foot-titleblock">Find us online:</div>
  <a href="//fb.me/hullcss"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a><br>
  <a href="//www.linkedin.com/company/18601937/"><i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn</a><br>
  <a href="https://discord.com/invite/vnrG9Qc3Cj"><i class="fab fa-discord"></i> Discord</a><br>
  <a href="https://github.com/hullcss"><i class= "fab fa-github"></i> Github</a><br>
  <br></div>


  <div class="grid-33 mobile-grid-100">
  <div class="foot-titleblock">Find us IRL:</div>
	#hullCSS<br>
  Hull University Union<br>
  Student Central<br>
	University of Hull<br>
	Cottingham Road<br>
	Hull<br>
	HU6 7RX<br><br>
  <a href="https://hulluniunion.com/">
    <img class="rep-brands" src="/img/husu-logo.svg" >
  </a>
  
  <a href="https://www.hull.ac.uk/">
    <img class="rep-brands" src="/img/university-brand.png" >
  </a>
  
  <br></div>


  <div class="grid-33 mobile-grid-100">
  <div class="foot-titleblock">Working with:</div>
  <a href="https://www.bcs.org/">
    <img class="rep-brands" src="/img/bcs.png">
  </a>
  
  <br><br></div>
  <br>

  <div class="grid-33 mobile-grid-100">
  <div class="foot-titleblock">Legal stuff and Licensing</div>
  <a href="/policies"> Legal Policies</a><br>
  <a href="https://github.com/HullCSS/HullCSS-site-jet"> Source code</a></p>  
  hullcss.org 🛠 with ❤️ by <a href="https://blog.crimsontome.com/">CrimsonTome</a><br>
  </div>

</div>
</div>
  
</main>
    
  </body>
</html>
