---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "HullCSS Blog",
    "subtitle": "The blog of HullCSS.",
    "url": "https://hullcss.crimsontome.com/",
    "feedUrl": "https://hullcss.crimsontome.com/feed.xml",
    "author": {
      "name": "CrimsonTome",
      "email": "crimsontome427@protonmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ metadata.subtitle }}</description>
    <language>en</language>
    {%- for post in collections.posts | reverse %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <item>
            <title>{{ post.data.title }}</title>
            <link>{{ absolutePostUrl }}</link>
            <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
            <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
            <dc:creator>{{ metadata.author.name }}</dc:creator>
            <guid>{{ absolutePostUrl }}</guid>
        </item>
    {%- endfor %}
  </channel>
</rss>
