@tailwind base;

@tailwind components;

@tailwind utilities;

/*@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,500,500i,700|Roboto:300,300i,400,400i,500,500i,700,700i');
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Mono&amp;lang=en" /> */

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_QOW4Ep0.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_R-W4Ep0.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_S-W4Ep0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW4Ep0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
}

.card-body a {
    color: inherit;
}
/* ============================================ */
/* This file has a mobile-to-desktop breakpoint */
/* ============================================ */
@media (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.grid-container:before, .mobile-grid-100:before, .mobile-grid-33:before, .mobile-grid-66:before, .grid-10:before, .grid-25:before, .grid-75:before, .grid-100:before, .grid-33:before, .grid-66:before, .grid-offset:before, .clearfix:before,
.grid-container:after, .mobile-grid-100:after, .mobile-grid-33:after, .mobile-grid-66:after, .grid-10:after, .grid-25:after, .grid-75:after, .grid-100:after, .grid-33:after, .grid-66:after, .grid-offset:after,.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.grid-container:after, .mobile-grid-100:after, .mobile-grid-33:after, .mobile-grid-66:after, .grid-10:after, .grid-25:after, .grid-100:after, .grid-33:after, .grid-66:after, .grid-offset:after, .clearfix:after {
  clear: both;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-container-margin {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-left: 10px;
  margin-right: 10px;
}

.mobile-grid-5, .mobile-grid-10, .mobile-grid-15, .mobile-grid-20, .mobile-grid-25, .mobile-grid-30, .mobile-grid-35, .mobile-grid-40, .mobile-grid-45, .mobile-grid-50, .mobile-grid-55, .mobile-grid-60, .mobile-grid-65, .mobile-grid-70, .mobile-grid-75, .mobile-grid-80, .mobile-grid-85, .mobile-grid-90, .mobile-grid-95, .mobile-grid-100, .mobile-grid-33, .mobile-grid-66, .grid-5, .grid-10, .grid-15, .grid-20, .grid-25, .grid-30, .grid-35, .grid-40, .grid-45, .grid-50, .grid-55, .grid-60, .grid-65, .grid-70, .grid-75, .grid-80, .grid-85, .grid-90, .grid-95, .grid-100, .grid-33, .grid-66 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  /* <IE7> */
  *padding-left: 0;
  *padding-right: 0;
  /* </IE7> */
}

/* Margin Addition of above for project page */

.mobile-grid-5-margin, .mobile-grid-10-margin, .mobile-grid-15-margin, .mobile-grid-20-margin, .mobile-grid-25-margin, .mobile-grid-30-margin, .mobile-grid-35-margin, .mobile-grid-40-margin, .mobile-grid-45-margin, .mobile-grid-50-margin, .mobile-grid-55-margin, .mobile-grid-60-margin, .mobile-grid-65-margin, .mobile-grid-70-margin, .mobile-grid-75-margin, .mobile-grid-80-margin, .mobile-grid-85-margin, .mobile-grid-90-margin, .mobile-grid-95-margin, .mobile-grid-100-margin, .mobile-grid-33-margin, .mobile-grid-66-margin, .grid-5-margin, .grid-10-margin, .grid-15-margin, .grid-20-margin, .grid-25-margin, .grid-30-margin, .grid-35-margin, .grid-40-margin, .grid-45-margin, .grid-50-margin, .grid-55-margin, .grid-60-margin, .grid-65-margin, .grid-70-margin, .grid-75-margin, .grid-80-margin, .grid-85-margin, .grid-90-margin, .grid-95-margin, .grid-100-margin, .grid-33-margin, .grid-66-margin {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;

  /* <IE7> */
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* </IE7> */
}

.grid-parent {
  padding-left: 0;
  padding-right: 0;
}

.grid-offset {
  clear: both;
  margin-left: -10px;
  margin-right: -10px;
}

@media (max-width: 767px) {
  .mobile-push-33, .mobile-pull-33, .mobile-push-66, .mobile-pull-66 {
    position: relative;
  }

  .hide-on-mobile {
    display: none !important;
  }


  .mobile-grid-33 {
    float: left;
    width: 33.33333%;
  }

  .mobile-prefix-33 {
    margin-left: 33.33333%;
  }

  .mobile-suffix-33 {
    margin-right: 33.33333%;
  }

  .mobile-push-33 {
    left: 33.33333%;
  }

  .mobile-pull-33 {
    left: -33.33333%;
  }

  .mobile-grid-66 {
    float: left;
    width: 66.66667%;
  }

  .mobile-prefix-66 {
    margin-left: 66.66667%;
  }

  .mobile-suffix-66 {
    margin-right: 66.66667%;
  }

  .mobile-push-66 {
    left: 66.66667%;
  }

  .mobile-pull-66 {
    left: -66.66667%;
  }

  .mobile-grid-100 {
    clear: both;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .push-5, .pull-5, .push-10, .pull-10, .push-15, .pull-15, .push-20, .pull-20, .push-25, .pull-25, .push-30, .pull-30, .push-35, .pull-35, .push-40, .pull-40, .push-45, .pull-45, .push-50, .pull-50, .push-55, .pull-55, .push-60, .pull-60, .push-65, .pull-65, .push-70, .pull-70, .push-75, .pull-75, .push-80, .pull-80, .push-85, .pull-85, .push-90, .pull-90, .push-95, .pull-95, .push-33, .pull-33, .push-66, .pull-66 {
    position: relative;
  }

  .hide-on-desktop {
    display: none !important;
  }


  .grid-10 {
    float: left;
    width: 10%;
  }

  .prefix-10 {
    margin-left: 10%;
  }

  .suffix-10 {
    margin-right: 10%;
  }

  .push-10 {
    left: 10%;
  }

  .pull-10 {
    left: -10%;
  }


  .grid-25 {
    float: left;
    width: 25%;
  }

  .prefix-25 {
    margin-left: 25%;
  }

  .suffix-25 {
    margin-right: 25%;
  }

  .push-25 {
    left: 25%;
  }

  .pull-25 {
    left: -25%;
  }

  .grid-75 {
    float: left;
    width: 75%;
  }

  .prefix-75 {
    margin-left: 75%;
  }

  .suffix-75 {
    margin-right: 75%;
  }

  .push-75 {
    left: 75%;
  }

  .pull-75 {
    left: -75%;
  }

  .grid-33 {
    float: left;
    width: 33.33333%;
  }

  .prefix-33 {
    margin-left: 33.33333%;
  }

  .suffix-33 {
    margin-right: 33.33333%;
  }

  .push-33 {
    left: 33.33333%;
  }

  .pull-33 {
    left: -33.33333%;
  }

/* Desktop Grid 66*/
  .grid-66 {
    float: left;
    width: 66.66667%;
  }

  .prefix-66 {
    margin-left: 66.66667%;
  }

  .suffix-66 {
    margin-right: 66.66667%;
  }

  .push-66 {
    left: 66.66667%;
    *left: expression(Math.floor(0.66667 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + 'px');
  }

  .pull-66 {
    left: -66.66667%;
    *left: expression(Math.floor(-0.66667 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + 'px');
  }


  /* Desktop Grid 100*/
  .grid-100 {
    clear: both;
    width: 100%;
  }
}



/*!
 * Base styles based on Bootswatch 4.0
/*!
 * Bootstrap v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,500,500i,700|Roboto:300,300i,400,400i,500,500i,700,700i);
:root {
	--blue: #2780E3; --indigo: #6610f2; --purple: #613d7c; --pink: #e83e8c; --red: #FF0039; --orange: #f0ad4e; --yellow: #FF7518; --green: #3FB618; --teal: #20c997; --cyan: #9954BB; --white: #fff; --gray: #868e96; --gray-dark: #373a3c;
	--primary: #2780E3; --secondary: #373a3c; --success: #3FB618; --info: #9954BB; --warning: #FF7518; --danger: #FF0039;
	--light: #f8f9fa; --dark: #373a3c;
	--font-family-sans-serif: "Roboto", Calibri, Candara, Arial, sans-serif;
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}

body {
	margin: 0;
	font-family: Roboto, Calibri, Candara, Arial, sans-serif;
	font-size: .9375rem;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	text-align: left;
	background-color: #2ed164;
	padding-top: 0!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .5rem
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}

b {
	font-weight: bolder
}

a {
	color: #efefef;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:hover {
	color: #efefef
}


img {
	vertical-align: middle;
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}


summary {
	display: list-item;
	cursor: pointer
}

[hidden] {
	display: none!important
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5,h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.2;
	color: inherit
}

.h1, h1 {
	font-size: 2.34375rem
}

.h2, h2 {
	font-size: 1.875rem
}

.h3, h3 {
	font-size: 1.640625rem
}

.h4, h4 {
	font-size: 1.40625rem
}

.h5, h5 {
	font-size: 1.171875rem
}

.h6, h6 {
	font-size: .9375rem
}

.lead {
	font-size: 1.171875rem;
	font-weight: 300
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:576px) {
	.container {
		max-width: 540px
	}
}

@media (min-width:768px) {
	.container {
		max-width: 720px
	}
}

@media (min-width:992px) {
	.container {
		max-width: 960px
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1140px
	}
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: .9375rem;
	line-height: 1.5;
	border-radius: 0;
	-webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

.btn:focus,
.btn:hover {
	text-decoration: none
}

.btn:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(39, 128, 227, .25);
	box-shadow: 0 0 0 .2rem rgba(39, 128, 227, .25)
}

.btn:disabled {
	opacity: .65
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
	background-image: none
}

.btn-success {
	color: #fff;
	background-color: #3bd66e;
	border-color: #35c163
}

.btn-success:hover {
	color: #fff;
	background-color: #3fca6b;
	border-color: #35c163
}

.jointoday {
	background-color: #2fad58;
	font-weight: 500
}

.jointoday :hover {
	background-color: #33a557!important
}

.btn-success:focus {
	-webkit-box-shadow: 0 0 0 .2rem rgba(63, 182, 24, .5);
	box-shadow: 0 0 0 .2rem rgba(63, 182, 24, .5)
}

.btn-success:disabled {
	color: #fff;
	background-color: #3fb618;
	border-color: #3fb618
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #3bd66e;
	border-color: #3bd66e
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus {
	-webkit-box-shadow: 0 0 0 .2rem rgba(63, 182, 24, .5);
	box-shadow: 0 0 0 .2rem rgba(63, 182, 24, .5)
}

.btn-link {
	font-weight: 400;
	color: #2780e3;
	background-color: transparent
}

.btn-link:hover {
	color: #165ba8;
	text-decoration: underline;
	background-color: transparent;
	border-color: transparent
}

.btn-link:focus {
	text-decoration: underline;
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-link:disabled {
	color: #868e96
}

.card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #333;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125)
}

.card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem
}

.card-title {
	margin-bottom: .75rem
}

.card-text:last-child {
	margin-bottom: 0
}

.card-link:hover {
	text-decoration: none
}

.card-link+.card-link {
	margin-left: 1.25rem
}

.card-img {
	width: 100%
}

@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 8px 0
	}
	to {
		background-position: 0 0
	}
}

@keyframes progress-bar-stripes {
	from {
		background-position: 8px 0
	}
	to {
		background-position: 0 0
	}
}

@supports (-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d) {
	.carousel-item-next.carousel-item-left,
	.carousel-item-prev.carousel-item-right {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

@supports (-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d) {
	.active.carousel-item-right,
	.carousel-item-next {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
}

@supports (-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d) {
	.active.carousel-item-left,
	.carousel-item-prev {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
}

@supports (position:-webkit-sticky) or (position:sticky) {
	.sticky-top {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 1020
	}
}


.text-success {
	color: #3fb618!important
}

a.text-success:focus,
a.text-success:hover {
	color: #2f8912!important
}

@media print {
	*,
	::after,
	::before {
		text-shadow: none!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important
	}
	a:not(.btn) {
		text-decoration: underline
	}
	img {
		page-break-inside: avoid
	}
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
	@page {
		size: a3
	}
	body {
		min-width: 992px!important
	}
	.container {
		min-width: 992px!important
	}
}

.footergrid {
	background-color: #333;
	padding: 20px 0;
	max-width: 100%;
	clear: both;
}

.rep-brands {
	height: 40px;
  margin:auto;
}

.foot-titleblock {
	background-color: #3e3e3e;
	font-family: 'roboto mono';
	padding: 10px 4px;
	font-weight: 500;
	color: #ffff;
	margin-bottom: 10px;
  text-align: center;
}

.grid-33.mobile-grid-100{
  align-items: center;
  text-align: center;
}

.hullcss-logo {
	height: 40px
}

.headercontain {
	background: rgba(59, 214, 110, .9);
	padding: 15px 0;
	max-width: 100%
}

.content {
	min-height: 500px
}

.index-image {
	background-size: cover
}

.blink {
	animation: blink-animation 1.5s steps(5, start) infinite;
	-webkit-animation: blink-animation 1.5s steps(5, start) infinite
}

@keyframes blink-animation {
	to {
		visibility: hidden
	}
}

@-webkit-keyframes blink-animation {
	to {
		visibility: hidden
	}
}

.titlehome {
	font-family: 'roboto mono';
	font-weight: 500;
	margin-top: 150px
}

.lead,
.lead2,
.titlehome {
	background-color: rgba(0, 0, 0, .32);
	padding: 10px
}

.rightblock {
	float: right
}

@media (max-width:750px) {
	.rightblock {
		float: none;
		padding-top: 20px
	}
}

.grid-33 {
	padding-bottom: 20px
}

body {
	padding-top: 50px
}

.content {
	padding: 40px 15px
}

.card-body a {
	color: inherit
}


/*!
 * Font Awesome Free 5.3.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.fa,
.fab {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1
}

.fa-1x {
	font-size: 1em
}

.fa-2x {
	font-size: 2em
}

.fa-3x {
	font-size: 3em
}

.fa-4x {
	font-size: 4em
}

.fa-5x {
	font-size: 5em
}

.fa-6x {
	font-size: 6em
}

.fa-7x {
	font-size: 7em
}

.fa-8x {
	font-size: 8em
}

.fa-9x {
	font-size: 9em
}

.fa-10x {
	font-size: 10em
}

@keyframes fa-spin {
	0% {
		transform: rotate(0)
	}
	to {
		transform: rotate(1turn)
	}
}

.fa-ad:before {
	content: "\f641"
}

.fa-apple:before {
	content: "\f179"
}

.fa-at:before {
	content: "\f1fa"
}

.fa-css3:before {
	content: "\f13c"
}

.fa-d-and-d:before {
	content: "\f38d"
}

.fa-discord:before {
	content: "\f392"
}

.fa-expand:before {
	content: "\f065"
}

.fa-facebook:before {
	content: "\f09a"
}

.fa-facebook-square:before {
	content: "\f082"
}

.fa-google:before {
	content: "\f1a0"
}

.fa-h-square:before {
	content: "\f0fd"
}

.fa-home:before {
	content: "\f015"
}

.fa-html5:before {
	content: "\f13b"
}

.fa-id-card:before {
	content: "\f2c2"
}

.fa-image:before {
	content: "\f03e"
}

.fa-images:before {
	content: "\f302"
}

.fa-industry:before {
	content: "\f275"
}

.fa-js:before {
	content: "\f3b8"
}

.fa-js-square:before {
	content: "\f3b9"
}

.fa-link:before {
	content: "\f0c1"
}

.fa-linkedin:before {
	content: "\f08c"
}

.fa-mobile:before {
	content: "\f10b"
}

.fa-road:before {
	content: "\f018"
}

.fa-safari:before {
	content: "\f267"
}

.fa-square:before {
	content: "\f0c8"
}

.fa-tag:before {
	content: "\f02b"
}

.fa-text-width:before {
	content: "\f035"
}

.fa-twitter:before {
	content: "\f099"
}

.fa-twitter-square:before {
	content: "\f081"
}

.fa-university:before {
	content: "\f19c"
}

@font-face {
	font-family: "Font Awesome 5 Brands";
	font-style: normal;
	font-weight: 400;
	src: url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-brands-400.eot);
	src: url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-brands-400.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-brands-400.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-brands-400.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

.fab {
	font-family: "Font Awesome 5 Brands"
}

@font-face {
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 400;
	src: url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-regular-400.eot);
	src: url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-regular-400.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-regular-400.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-regular-400.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-regular-400.svg#fontawesome) format("svg")
}

@font-face {
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	src: url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.eot);
	src: url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.svg#fontawesome) format("svg")
}

.fa {
	font-family: "Font Awesome 5 Free"
}

.fa {
	font-weight: 900
}


.fa-github:before {
	content: "\f092"
}

.icon {
	max-width: 3em; max-height:3em;
}