---
layout: "base.html"
tags: "event"
title: "AGM"
date: "2023-03-17"
teaser: "**Paid Members Only**
In Wilberforce Rm 27 or Discord, you can stand or vote on the new Exec Team"
---

# AGM

**Paid Members Only**
In Wilberforce Rm 27 or Discord, you can stand or vote on the new Exec Team
		  
## Date and Times

- Start Date and Time: 17/03/2023, 19:00:00
- End Date and Time: No Scheduled End Time

## Location:

AGM Friday 17 at 7pm - [Link](https://discordapp.com/channels/427865794467069962/1083073903217361008)

## Invite

<a href="https://discord.com/events/427865794467069962/1083105536595214487">Invite Link</a>
