---
layout: base.html 
permalink: 'events/'
title: 'Events'
pagination:
  data: collections.event
  size: 10
  alias: events
---

<ul>
  {%- for post in collections.event | reverse -%}
    <li>
      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a> | {{ post.date | readableDate}}</h3>
      {% if post.data.teaser %}
        <p>{{ post.data.teaser }}</p>
      {% endif %} 
    </li>
  {%- endfor -%}
</ul>